@charset "utf-8";
/* CSS Document */
body {counter-reset: ebene1;
	background-color: fuchsia;
	color: yellow;
	font-size: 100%;
}

h1:before {
    content: counter(ebene1) ". ";
    counter-increment: ebene1;}
h1 {counter-reset: ebene2;}

h2:before {
    content: counter(ebene1) "." counter(ebene2) ". ";
    counter-increment: ebene2;}
h2 {counter-reset: ebene3;}

h3:before {
    content: counter(ebene1) "." counter(ebene2) "." counter(ebene3) ". ";
    counter-increment: ebene3;}

.left{
	font-size: 12px
}

#myID{
	font-size: 10cm;
}

#leftside{
	position: absolute;
	top: 20px;
	right: 100px;
	width: 50px
}